<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/arts.css" />
    <script src="js/arts.js" defer></script>
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <section class="centered-container head">
      <div class="text-centered">
        <h1>GALLERY</h1>
        <p>Artful Expression in the Digital Realm</p>
      </div>
      <div class="cards">
        <img class="card active" src="<%= allArts[0].img_url %>" alt="" />
        <img class="card" src="<%= allArts[1].img_url %>" alt="" />
        <img class="card" src="<%= allArts[2].img_url %>" alt="" />
        <img class="card" src="<%= allArts[3].img_url %>" alt="" />
      </div>
    </section>

    <div class="modal">
      <div class="modal-content post">
        <img class="card-img" src="<%= arts[1].img_url %>" alt="" />

        <div class="card-datails">
          <div class="flex-col">
            <div class="flex-col">
              <h2>ദ്ദി(˵ •̀ ᴗ - ˵ ) ✧</h2>
              <p><%= arts[1].description %></p>
            </div>

            <div class="view-comments">
              <div
                class="view-comment flex"
                id="view-comment<%= arts[1].art_id %>"
              >
                <img
                  style="
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 3.125rem;
                    object-fit: cover;
                  "
                  src="/assets/temp-img.png"
                  alt=""
                />
                <div class="flex">
                  <p class="user-name">sagarkalis</p>
                  <p class="user-comment">wooow cute</p>
                </div>
              </div>

              <div
                class="view-comment flex"
                id="view-comment<%= arts[1].art_id %>"
              >
                <img
                  style="
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 3.125rem;
                    object-fit: cover;
                  "
                  src="/assets/temp-img.png"
                  alt=""
                />
                <div class="flex">
                  <p class="user-name">sagarkalis</p>
                  <p class="user-comment">wooow cute</p>
                </div>
              </div>

              <div
                class="view-comment flex"
                id="view-comment<%= arts[1].art_id %>"
              >
                <img
                  style="
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 3.125rem;
                    object-fit: cover;
                  "
                  src="/assets/temp-img.png"
                  alt=""
                />
                <div class="flex">
                  <p class="user-name">sagarkalis</p>
                  <p class="user-comment">wooow cute</p>
                </div>
              </div>

              <div
                class="view-comment flex"
                id="view-comment<%= arts[1].art_id %>"
              >
                <img
                  style="
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 3.125rem;
                    object-fit: cover;
                  "
                  src="/assets/temp-img.png"
                  alt=""
                />
                <div class="flex">
                  <p class="user-name">sagarkalis</p>
                  <p class="user-comment">wooow cute</p>
                </div>
              </div>
            </div>
          </div>

          <div class="comment-part">
            <div class="react">
              <div
                class="icons"
                style="display: flex; justify-content: space-between"
              >
                <div class="icons">
                  <img
                    id="like<%= arts[1].art_id %>"
                    height="30px"
                    src="/assets/like-icon.svg"
                    alt=""
                    style="
                      filter: brightness(0) saturate(100%) invert(100%)
                        sepia(12%) saturate(7500%) hue-rotate(181deg)
                        brightness(112%) contrast(110%);
                    "
                  />
                  <img
                    class="comment"
                    height="30px"
                    src="/assets/comment-icon.svg"
                    alt=""
                    style="
                      filter: brightness(0) saturate(100%) invert(100%)
                        sepia(12%) saturate(7500%) hue-rotate(181deg)
                        brightness(112%) contrast(110%);
                    "
                  />
                  <img
                    id="share<%= arts[1].art_id %>"
                    class="share"
                    height="30px"
                    src="/assets/share-icon.svg"
                    alt=""
                    style="
                      filter: brightness(0) saturate(100%) invert(100%)
                        sepia(12%) saturate(7500%) hue-rotate(181deg)
                        brightness(112%) contrast(110%);
                    "
                  />
                </div>
                <a href="<%= arts[1].post_url %>" target="_blank"
                  ><img
                    src="/assets/instagram.svg"
                    alt=""
                    height="35px"
                    style="
                      filter: brightness(0) saturate(100%) invert(100%)
                        sepia(12%) saturate(7500%) hue-rotate(181deg)
                        brightness(112%) contrast(110%);
                    "
                /></a>
              </div>

              <div>
                <p id="like-p<%= arts[1].art_id %>" class="post-likes">
                  <%= arts[1].likes_count %> likes
                </p>
                <hr />
                <div style="display: flex; justify-content: space-between">
                  <input
                    placeholder="Add a comment..."
                    type="comment"
                    class="comment"
                    id="comment"
                    name="comment"
                  />
                  <div class="Send">
                    <button>Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="centered-container">
      <form class="search">
        <img src="/assets/search.png" alt="" />
        <input
          placeholder="Search by key word"
          type="text"
          class="search-by-title"
          id="search"
          name="search"
        />
      </form>

      <div class="arts-container" id="arts-container">
        <ul>
          <% if (arts.length === 0) { %>
          <p>NO ARTS</p>
          <% } else { %> <% for (let i = 0; i < 5; i++) { %> <% if (arts[i]) {
          %> <%- include("includes/artItem.ejs", { artUrl: arts[i].img_url,
          description: arts[i].description, artLikes: arts[i].likes_count, url:
          arts[i].post_url, id:arts[i].art_id }) %> <% } %> <% } %> <% } %>
        </ul>
      </div>
      <div class="flex margin">
        <button id="prev-btn"><</button>
        <p id="pageNum">1 / <%= parseInt(Math.ceil(arts.length / 5)); %></p>
        <button id="next-btn">></button>
      </div>
    </section>

    <%- include("includes/footer.ejs") %>
  </body>
</html>
